# Assignment 6

In this exercise you will get to work with a file that displays the COVID cases over a time period (February 2020 to 2021).

To complete this exercise you will have to do the following:

1) Load the file, only the following columns: Date, Sweden, Varmland, Stockholm

2) Compute the average recorded cases for March for the whole Sweden, Varmland and Stockholm, respectively.

3) Compute the monthly average for Sweden for all available months

Do not forget to describe your code and results with comments and markdown cells.

## Optional tasks

4) Identify the peak day for COVID-19 cases in Sweden and in Stockholm.

5) Determine the month with the highest number of cases in Sweden and compare it with Stockholm.

# Some tips

1. Use pandas.read_csv to load the data. Pay attention to the correct delimiter (tab \t in this case) to properly read the file.
To select specific columns, use the usecols parameter in read_csv. Make sure the column names match exactly with those in the file.
2.  Calculate the average using the .mean() function on the filtered data.

3. Extract the month and year from the 'Date' column using dataframe['Date'].dt.month and dataframe['Date'].dt.year.
Group the data by year and month with groupby, and then calculate the average.

 ### This is an example of how you can work with dates alternatively than those presented at the lecture. It might be helpful for the exercise.

***1. Load the file, only the following columns: Date, Sweden, Varmland, Stockholm***

In [24]:
import pandas as pd

fp = r'/content/Modified_Regional_Daily_Cases.txt' # Filepath to textfile. Laddade upp den direkt under "filer", är troligtvis tillfällig
# "C:\Programming\Modified_Regional_Daily_Cases.txt"

data = pd.read_csv(
    fp,
    sep=r'\s+',
    usecols=["Date", "Sweden_Total_Daily_Cases", "Varmland", "Stockholm"],
    na_values=["*", "**", "***", "****", "*****", "******"]
)

#Checking if dataframe and structure looks OK
data.head()

       Date  Sweden_Total_Daily_Cases  Stockholm  Varmland
0  20200204                         1          0         0
1  20200205                         0          0         0
2  20200206                         0          0         0
3  20200207                         0          0         0
4  20200208                         0          0         0

In [25]:
# Checking datatype
data.dtypes

Date                        int64
Sweden_Total_Daily_Cases    int64
Stockholm                   int64
Varmland                    int64
dtype: object

***2. Compute the average recorded cases for March for the whole Sweden, Varmland and Stockholm, respectively.***

In [66]:
# Converting Date column to string
data["Date_STR"] = data["Date"].astype(str)

# Slice the string to create a column for Month
data["MONTH"] = data["Date_STR"].str.slice(start=4, stop=6)

          # Creating a dataframe with only values from March
          #data_march = data.loc[(data["MONTH"] == "03")]

          # Making sure MONTH only contain 03
          #assert data_march["MONTH"].unique() == "03"

          #data_march.groupby(["MONTH"])["Sweden_Total_Daily_Cases"].mean()

In [67]:
# Calculating mean values
grouped = data.groupby("MONTH")

In [68]:
# Some tests
type(grouped)

pandas.core.groupby.generic.DataFrameGroupBy

In [69]:
len(grouped)

12

In [70]:
data["MONTH"].nunique()

12

In [ ]:
# Checking names of each group
grouped.groups.keys()

In [76]:
# Specifying a group for March
march = "03"
group_march = grouped.get_group(march)
assert group_march["MONTH"].unique() == "03"
group_march

        Date  Sweden_Total_Daily_Cases  Stockholm  Varmland  Date_STR MONTH
26  20200301                         0          0         0  20200301    03
27  20200302                         5          1         0  20200302    03
28  20200303                        13         10         0  20200303    03
29  20200304                        30         21         0  20200304    03
30  20200305                        25         22         0  20200305    03
31  20200306                        59         36        11  20200306    03
32  20200307                        33         21         0  20200307    03
33  20200308                        46         29         0  20200308    03
34  20200309                       101         64         7  20200309    03
35  20200310                        98         26         3  20200310    03
36  20200311                       196         32         2  20200311    03
37  20200312                       151         42         4  20200312    03
38  20200313                       152         31         3  20200313    03
39  20200314                        71         18         1  20200314    03
40  20200315                        69         17         1  20200315    03
41  20200316                        83         34         2  20200316    03
42  20200317                       119         35         1  20200317    03
43  20200318                       145         58         1  20200318    03
44  20200319                       143         66         0  20200319    03
45  20200320                       180         84         2  20200320    03
46  20200321                       136         71         1  20200321    03
47  20200322                       118         59         1  20200322    03
48  20200323                       182         99         2  20200323    03
49  20200324                       230        105         3  20200324    03
50  20200325                       314        154         0  20200325    03
51  20200326                       286        132         0  20200326    03
52  20200327                       365        176         1  20200327    03
53  20200328                       300        147         3  20200328    03
54  20200329                       280        149         1  20200329    03
55  20200330                       416        172         1  20200330    03
56  20200331                       474        208         0  20200331    03

In [77]:
# Calculating average recorded cases for March
mean_cols = ["Sweden_Total_Daily_Cases", "Varmland", "Stockholm"]
mean_values = group_march[mean_cols].mean()
print(mean_values)

Sweden_Total_Daily_Cases    155.483871
Varmland                      1.645161
Stockholm                    68.354839
dtype: float64

***3. Compute the monthly average for Sweden for all available months***

In [ ]:
# Example DataFrame with a date column
data = pd.DataFrame({
    'Date': ['20200101', '20200201', '20200301', '20200401'],
    'Value': [10, 20, 30, 40]
})

# Convert 'Date' from string to datetime format
data['Date'] = pd.to_datetime(data['Date'], format='%Y%m%d')

# Extracting year, month, and day from the 'Date' column
data['Year'] = data['Date'].dt.year
data['Month'] = data['Date'].dt.month
data['Day'] = data['Date'].dt.day

# Display the DataFrame with the new columns
print(data)

        Date  Value  Year  Month  Day
0 2020-01-01     10  2020      1    1
1 2020-02-01     20  2020      2    1
2 2020-03-01     30  2020      3    1
3 2020-04-01     40  2020      4    1