## Assignment 2 - Data manipulation and selection

In this problem you will clean the data from our data file by removing no-data values, convert temperature values in Fahrenheit to Celsius, and split the data into separate datasets using the weather station identification code. We will start this problem by cleaning and converting our temperature data. Please perform the tasks below by writing your code into the codeblocks in each section.


### Assesment

**Assesment will be based on following criteria:**

- Creating a new dataframe called `selected` that contains select columns from the data file
- Cleaning the new dataframe by removing no-data values
- Creating a new column for temperatures converted from Fahrenheit to Celsius
- Dividing the data into separate dataframes for the Station1 and Station2
- Saving the new dataframes to CSV files
- Including comments that explain what most lines in the code do
- Answering a couple questions at the end of the problem

### Part 1

The first step for this problem is to read the data file `6153237444115dat.csv` again into a variable `data` using pandas. Remember to specify the no-data values (you can copy your code from assignment 1).

In [26]:
import pandas as pd

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [45]:
# Import the csv file
data = pd.read_csv("/content/drive/MyDrive/MASTER /Geospatial Python/6153237444115dat.csv", na_values=['*', '**', '***', '****', '*****', '******'])

Check that the first rows of the DataFrame look ok:

In [46]:
data.head()

,USAF,WBAN,YR--MODAHRMN,DIR,SPD,GUS,CLG,SKC,L,M,...,SLP,ALT,STP,MAX,MIN,PCP01,PCP06,PCP24,PCPXX,SD
0,28450,99999,201705010000,174.0,10.0,14.0,NaN,NaN,NaN,NaN,...,1009.2,NaN,984.1,NaN,NaN,NaN,NaN,NaN,NaN,35.0
1,28450,99999,201705010020,180.0,10.0,NaN,4.0,NaN,NaN,NaN,...,NaN,29.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,28450,99999,201705010050,190.0,10.0,NaN,4.0,NaN,NaN,NaN,...,NaN,29.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,28450,99999,201705010100,188.0,12.0,16.0,NaN,NaN,NaN,NaN,...,1009.1,NaN,984.0,NaN,NaN,NaN,NaN,NaN,NaN,35.0
4,28450,99999,201705010120,200.0,13.0,NaN,2.0,OBS,NaN,NaN,...,NaN,29.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Check the number of rows in the DataFrame:

In [47]:
len(data)

11694

### Part 2

Next, your task is to subset the data and remove rows with missing temperature values.

- Select the columns `USAF`, `YR--MODAHRMN`, `TEMP`, `MAX`, and `MIN` from the `data` dataframe and assign them to the variable `selected`
- Remove all rows from `selected` that have NoData in the column `TEMP` using the `dropna()` function

In [55]:
# Selecting columns
selected = data[["USAF", "YR--MODAHRMN", "TEMP", "MAX", "MIN"]]

#Removing rows with NaN values
selected.dropna(subset=["TEMP"], inplace=True)

/tmp/ipython-input-2932437943.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected.dropna(subset=["TEMP"], inplace=True)

Check that you selected the correct column names:

In [57]:
selected.head()

    USAF  YR--MODAHRMN  TEMP  MAX  MIN
0  28450  201705010000  31.0  NaN  NaN
1  28450  201705010020  30.0  NaN  NaN
2  28450  201705010050  30.0  NaN  NaN
3  28450  201705010100  31.0  NaN  NaN
4  28450  201705010120  30.0  NaN  NaN

Check how many rows you have after removing the no-data values:

In [58]:
len(selected)

11691

### Part 3

Next, you can convert the temperature values in Fahrenheit to Celsius.

- Create a new column in `selected` called `Celsius`
- Convert the Fahrenheit temperatures from `TEMP` using the conversion formula below and store the results in the new `Celsius` column.

$$
\Large
\begin{equation}
  T_{\mathrm{Celsius}} = (T_{\mathrm{Fahrenheit}} - 32)~/~1.8
\end{equation}
$$

- Round the values in the `Celsius` column to have 0 decimals (**do not** create a new column, update the current one)
- Convert the `Celsius` values into integers (**do not** create a new column, update the current one)

In [59]:
# Adding a new cloumn with temperature in Celsius
selected["Celcius"] = ((selected["TEMP"] - 32) / 1.8).round(0).astype(int)

# raise NotImplementedError()

/tmp/ipython-input-4049345956.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected["Celcius"] = ((selected["TEMP"] - 32) / 1.8).round(0).astype(int)

In [60]:
# Check your dataframe
selected.head()

    USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celcius
0  28450  201705010000  31.0  NaN  NaN       -1
1  28450  201705010020  30.0  NaN  NaN       -1
2  28450  201705010050  30.0  NaN  NaN       -1
3  28450  201705010100  31.0  NaN  NaN       -1
4  28450  201705010120  30.0  NaN  NaN       -1

In [61]:
# Check data types
print(selected.dtypes)

USAF              int64
YR--MODAHRMN      int64
TEMP            float64
MAX             float64
MIN             float64
Celcius           int64
dtype: object

### Part 4

Your next task is to divide `selected` into two separate dataframes. Please use the given variable names and write your answer to the codeblock below.

- Select all rows from the `selected` DataFrame with the `USAF` code `29980` into a variable called `Station1`
- Select all rows from the `selected` DataFrame with the `USAF` code `28450` into a variable called `Station2`

In [67]:
Station1 = selected[selected["USAF"] == 29980]
Station2 = selected[selected["USAF"] == 28450]

# raise NotImplementedError()

In [68]:
# Check the dataframe
print(f"Station1: \n{Station1.head()}\n")

Station1:
       USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celcius
8770  29980  201705010000  37.0  NaN  NaN        3
8771  29980  201705010100  37.0  NaN  NaN        3
8772  29980  201705010200  37.0  NaN  NaN        3
8773  29980  201705010300  37.0  NaN  NaN        3
8774  29980  201705010400  39.0  NaN  NaN        4

In [69]:
# Check the dataframe
print(f"Station2: \n{Station2.head()}\n")

Station2:
    USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celcius
0  28450  201705010000  31.0  NaN  NaN       -1
1  28450  201705010020  30.0  NaN  NaN       -1
2  28450  201705010050  30.0  NaN  NaN       -1
3  28450  201705010100  31.0  NaN  NaN       -1
4  28450  201705010120  30.0  NaN  NaN       -1

### Part 5

Now you can save your selections to csv files.

- Save the `Station1` DataFrame into the file `Station1.csv` (CSV format)
    - Separate the columns with commas (`,`)
    - Use only 2 decimals for the floating point numbers
- Save the `Station2` DataFrame into the file `Station2.csv` (CSV format)
    - Separate the columns with commas (`,`)
    - Use only 2 decimals for the floating point numbers

In [73]:
# Defining output filename
output_station1 = "Station1.csv"
output_station2 = "Station2.csv"

# Save dataframe to csv
Station1.to_csv(output_station1, sep=",", index=False, float_format="%.2f")
Station2.to_csv(output_station2, sep=",", index=False, float_format="%.2f")

AttributeError: 'str' object has no attribute 'to_csv'

### Assignment  2 summary

- Was anything unclear to you in Assignment 2?
- Did you encounter any problems?


Please write your answers and comments below.

Sources for the exercise : https://geo-python-site.readthedocs.io/en/latest/ running on a Attribution-ShareAlike 4.0 International Licence https://creativecommons.org/licenses/by-sa/4.0/deed.en